{% extends 'Layouts/default.html.twig' %}

{% block title %}Edit{% endblock %}

{% form_theme form _self %}

{% block collection_widget %}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endapply %}
{% endblock collection_widget %}

{% block _edit_announcement_images_entry_widget %}
    <div>
        {% if value %}
        <div class="card w-25 d-inline-block mt-4">
            <img class="card-img-top" src="{{ asset(value.path) }}" alt="{{ value.path }}">
        </div>
        {% endif %}
        {{ block('form_widget') }}
    </div>
{% endblock %}

{% block main %}
    <div class="bg-light rounded p-2 text-center container text-capitalize mt-4">

        {{ form_start(form) }}
        <h1>Edit le bien</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    <div class="py-5">
        <div class="row">
            <div class="col-md-4">{{ form_row(form.title) }}</div>

            <div class="col-md-4">{{ form_row(form.city) }}</div>
            <div class="col-md-4">{{ form_row(form.zipCode) }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form_row(form.room) }}</div>
            <div class="col-md-2">{{ form_row(form.bedroom) }}</div>
            <div class="col-md-2">{{ form_row(form.energy) }}</div>
            <div class="col-md-2">{{ form_row(form.floor) }}</div>
            <div class="col-md-2">{{ form_row(form.type) }}</div>
            <div class="col-md-2">{{ form_row(form.category) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.description) }}</div>

            <div class="col-md-3">{{ form_row(form.area) }}</div>
            <div class="col-md-3">{{ form_row(form.price) }}</div>
        </div>
    </div>
    {{ form_end(form) }}

    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset('build/script.js') }}"></script>
{% endblock %}