{% extends "Layouts/default.html.twig" %}
{% block title %}Rental{% endblock %}
{% block main %}
    <section class="py-2 d-flex flex-wrap container-fluid">
        {% for announcement in announcements %}
            <article class=" p-2 col-md-3">
                <div class="slider">
                    <div class="glide">
                        <div data-glide-el="track" class="glide__track">
                            <ul class="glide__slides">
                                {% if announcement.images.count == 0 %}
                                    <li class="glide__slide">
                                        <img src="{{ asset("build/images/image-not-found.gif") }}">
                                    </li>
                                {% endif %}
                                {% for image in announcement.images %}
                                    <li class="glide__slide"><img src="{{ asset(image.path, 'media') }}"
                                                                  alt="La forêt de peupliers" class="rounded ">
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="slider__bullets glide__bullets mr-auto" data-glide-el="controls[nav]">
                                {% for count in announcement.images.keys %}
                                    <button class="slider__bullet glide__bullet" data-glide-dir="={{ count }}"></button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <article class="d-flex flex-column text-center text-light">
                    <h3 class="p-2">{{ announcement.title }}</h3>
                    <h4 class="p-2">{{ announcement.price|number_format(0, '', ' ') }} €</h4>
                    <a class="p-2 btn btn-outline-info"
                       href="{{ path('detail_announcement', {id: announcement.id}) }}">en savoir plus</a>
                </article>
            </article>
        {% endfor %}
    </section>
{% endblock %}